@model List<PolitiekeBarometer_MVC.Models.ZoneViewModel>

@{
    ViewBag.Title = "Dashboard";
}
<style>
    .chosen-container {
        width: 100% !important;
    }

    .tabContainer {
        position: relative;
    }

        .tabContainer a {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 10px;
            width: 10px;
        }
</style>
<script src="~/Scripts/Gridster/jquery.gridster.js"></script>
<div class="tab">
    @foreach (var zone in Model)
    {
        <div class="border">
            <button class="tablinks" onclick="loadZone(event, @zone.Id)" ondblclick="veranderTabNaam(this)" onblur="saveTabNaam(@zone.Id,this)">
                @zone.Naam
            </button>
            @Html.ActionLink("x", "DeleteZone", new { zoneId = zone.Id })
        </div>
    }
    <div>
        <button onclick="location.href='@Url.Action("CreateZone", "Dashboard")'">
            + Nieuwe Zone
        </button>
    </div>

</div>
<button onclick="gridster()">gridster</button>

<div class="bg-light gridster">

    <ul>
        @{
            var yposition = 0;
            foreach (var zone in Model)
            {
                if (zone.Items != null)
                {
                    foreach (var item in zone.Items)
                    {
                        <li data-col="1" data-row="@yposition" data-sizex="2" data-sizey="2" id="@zone.Id" class="gs-w bg-dark tabcontent">
                            @Html.Partial("DashboardPartials/ItemPartial", item)
                        </li>

                    }
                }
                yposition++;
            }
        }

    </ul>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createItemModal1">
    Maak nieuw Item
</button>
@using (Html.BeginForm("CreateItem", "Dashboard"))
{
    <div class="modal fade" id="createItemModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stap 1: Welk type grafiek kies je?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="align-self:center">
                    <label>
                        <input type="radio" name="ItemType" value="Line" />
                        <i class="fa fa-line-chart" style="font-size: 80px"></i>
                    </label>
                    <label>
                        <input type="radio" name="ItemType" value="Bar" />
                        <i class="fa fa-bar-chart" style="font-size: 80px"></i>
                    </label>
                    <label>
                        <input type="radio" name="ItemType" value="Pie" />
                        <i class="fa fa-pie-chart" style="font-size: 80px"></i>
                    </label>
                    <label>
                        <input type="radio" title="Number" name="ItemType" value="Number" />
                        Enkele waarde
                    </label>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#createItemModal2">Volgende</button>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createItemModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stap 2: Kies je data</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Zone</label>
                    <select name="Zone" id="Zone">
                        @foreach (var item in Model)
                        {
                            <option value="@item.Id">@item.Naam</option>
                        }
                    </select>
                    <label>Tijd interval</label>
                    <select name="Interval" id="DataType">
                        <option value="12u">Laatste 12 uur</option>
                        <option value="24u">Laatste 24 uur</option>
                        <option value="7d">Laatste 7 dagen</option>
                        <option value="30d">Laatste 30 dagen</option>
                    </select>

                    <label>Welk datatype kies je?</label>
                    <select name="DataType" id="DataType">
                        <option value="Totaal">Totaal</option>
                        <option value="Trend">Trend</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#createItemModal3">Volgende</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createItemModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stap 3: Voeg je filters toe</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="DataType">Kies uw personen, organisatie of elementen</label>
                        <select id="test" class="chosen-select" multiple name="elementen" style="width:100%;">
                            @foreach (var item in ViewBag.Suggestions)
                            {
                                <option value="@item.Naam">@item.Naam</option>
                            }
                        </select>
                        <div class="form-group">
                            <h4>Filters</h4>
                            @Html.Label("Age")
                            <div class="form-group">
                                <input type="radio" name="Age" value="Geen"> Geen filter
                                <input type="radio" name="Age" value="Splits"> Splits
                                <input type="radio" name="Age" value="Positief"> +25j
                                <input type="radio" name="Age" value="Negatief"> -25j<br>
                            </div>
                            @Html.Label("Geslacht")
                            <div class="form-group">
                                <input type="radio" name="Geslacht" value="Geen"> Geen filter
                                <input type="radio" name="Geslacht" value="Splits"> Splits
                                <input type="radio" name="Geslacht" value="Positief"> Vrouw
                                <input type="radio" name="Geslacht" value="Negatief"> Man <br>
                            </div>

                            @Html.Label("Sentiment")
                            <div class="form-group">
                                <input type="radio" name="Sentiment" value="Geen"> Geen filter
                                <input type="radio" name="Sentiment" value="Splits"> Splits
                                <input type="radio" name="Sentiment" value="Positief"> Positief
                                <input type="radio" name="Sentiment" value="Negatief"> Negatief<br>
                            </div>

                            @Html.Label("Retweet")
                            <div class="form-group">
                                <input type="radio" name="Retweet" value="Geen"> Geen filter
                                <input type="radio" name="Retweet" value="Splits"> Splits
                                <input type="radio" name="Retweet" value="Positief"> Enkel Retweets
                                <input type="radio" name="Retweet" value="Negatief"> Geen Retweets<br>
                            </div>

                            @Html.Label("Personaliteit")
                            <div class="form-group">
                                <input type="radio" name="Personaliteit" value="Geen"> Geen filter
                                <input type="radio" name="Personaliteit" value="Splits"> Splits
                                <input type="radio" name="Personaliteit" value="Positief"> Introvert
                                <input type="radio" name="Personaliteit" value="Negatief"> Extravert<br>
                            </div>
                            @Html.Label("Opleiding")
                            <div class="form-group">
                                <input type="radio" name="Opleiding" value="Geen"> Geen filter
                                <input type="radio" name="Opleiding" value="Splits"> Splits
                                <input type="radio" name="Opleiding" value="Positief"> Hoge opleiding
                                <input type="radio" name="Opleiding" value="Negatief"> Lage opleiding<br>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ToonGrafiek()" data-toggle="modal" data-target="#createItemModal4">Toon Grafiek</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createItemModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stap 4: Dit is het resultaat</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    ﻿<canvas id="toonGrafiek"></canvas>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(".chosen-select").chosen()
    {
        width: "100px";
    };

    gridster();
</script>


