<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/css/sb-admin.css")
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/Tabs.css" rel="stylesheet" />
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Chosen/chosen.css" rel="stylesheet" />
    <link href="~/Content/Tooltip.css" rel="stylesheet" />
    <link href="~/Content/jquery.gridster.min.css" rel="stylesheet" />
    <link href="~/Content/witteRuimte.css" rel="stylesheet" />
    <link href="~/gridster-responsive/gridster.js-master/dist/jquery.gridster.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer bg-light" id="page-top">
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/gridster-responsive/gridster.js-master/src/jquery.collision.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/src/jquery.coords.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/src/jquery.draggable.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/src/jquery.gridster.extras.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/src/jquery.gridster.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/src/utils.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/dist/jquery.gridster.js"></script>
    <script src="~/gridster-responsive/gridster.js-master/dist/jquery.gridster.with-extras.js"></script>
    <!-- Navigation-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/Grafiek/sb-admin-charts.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin-charts.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/chart.js/Chart.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin-datatables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin-charts.min.js"></script>
    <script src="~/Scripts/Grafiek/Grafiek.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/Tabs/tabs.js"></script>
    <script src="~/Chosen/chosen.jquery.min.js"></script>
    <script src="~/Scripts/Searchbar/searchbar.js"></script>
    <script src="~/Scripts/Grafiek/Grafiek.js"></script>
    <script src="~/Scripts/Grafiek/GrafiekFuncties.js"></script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Index", "Deelplatform")">Barometer</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarResponsive">
            @if (ViewBag.Nav == null || ViewBag.Nav == true)
            {<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                    @if (Request.IsAuthenticated)
                    {
                        <!-- Dashboard-->
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                            <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
                                <i class="fa fa-fw fas fa-wrench"></i>
                                <span class="nav-link-text">Mijn Dashboard</span>
                            </a>
                        </li>
                        <!-- Alert List-->
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Alerts">
                            <a class="nav-link" onclick="" href="@Url.Action("LijstAlerts", "Alert")">
                                <i class="fa fa-fw fas fa-bell"></i>
                                <span class="nav-link-text">Mijn Alerts</span>
                            </a>
                        </li>
                    }
                    <!-- Dropdown trending Personen-->
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Politiekers">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePolitiekers" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fas fa-users"></i>
                            <span class="nav-link-text">Personen</span>
                        </a>
                        @Html.Action("_PersonenDropDown", "Deelplatform")
                    </li>
                    <!-- Dropdown trending Organisaties-->
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partijen">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePartijen" data-parent="#exampleAccordion">
                            <i class="fa fa-fw far fa-circle"></i>
                            <span class="nav-link-text">Organisaties</span>
                        </a>
                        @Html.Action("_OrganisatieDropDown", "Deelplatform")
                    </li>
                    <!-- Dropdown trending Thema's-->
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Themas">
                        <a class="nav-link navbar-light nav-link-collapse collapsed" data-toggle="collapse" href="#collapseThemas" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fal fa-book"></i>
                            <span class="nav-link-text">Thema's</span>
                        </a>
                        @Html.Action("_ThemaDropDown", "Deelplatform")
                    </li>
                    <!-- -->
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profiel">
                            <a class="nav-link" href="@Url.Action("Index", "Manage")">
                                <i class="fa fa-fw fal fa-user"></i>
                                <span class="nav-link-text">Profiel Instellingen</span>
                            </a>
                        </li>


                    }
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Deelplatformen">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-fw fal fa-home"></i>
                            <span class="nav-link-text">Deelplatformen</span>
                        </a>
                    </li>

                </ul>

            }

            <ul class="navbar-nav ml-auto">
                @if (ViewBag.Deelplatform != "pb")
                {
                    if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "SuperAdmin")">SuperAdmin</a>
                        </li>
                    }
                    if (User.IsInRole("Admin" + ViewBag.Deelplatform) || User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Admin")">Admin</a>
                        </li>
                    }

                    if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.Action("MeldingDropDown", "Alert");
                        </li>
                    }
                    <li class="nav-item">
                        <div class="dropdown nav-item">
                            <div class="form-inline">
                                <input type="text" class="form-control" id="searchBar" onkeyup="dropList()" />
                                <button id="searchbutton" onclick="searchFunction()" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                            <ul class="list-group dropdown-menu" id="searchlist" style="margin:auto;width:90%;display:none"></ul>

                        </div>

                    </li>
                    @Html.Partial("_LoginPartial")
                }
            </ul>
        </div>

    </nav>

    <!-- /.content-wrapper-->
    @if (ViewBag.Nav == null || ViewBag.Nav == true)
    {
        <div class="content-wrapper p-3">
            @RenderBody()

        </div>
    }
    else
    {
        @RenderBody();
    }

    <footer class="bg-light">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Politieke Barometer</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <script>
        gridster();
    </script>
   

<script>
$(document).ready(function () {
    $("#searchBar").keyup(function () {
        //alert("json")
        var searchtekst = document.getElementById("searchBar").value;
        var f = {};
        f.url = '@Url.Action("Search", "Deelplatform")';
        f.type = "POST";
        f.dataType = "json";
        f.data = JSON.stringify({ searchstring: searchtekst });
        f.contentType = "application/json";
        f.success = function (response) {
            //alert("succes json")
            searchFunction(response);
        };

        //f.error = function (response) {

        //    alert("failed");
        //};
        $.ajax(f);
    });
});

    </script>


    <script>

function searchFunction(namen) {

	//alert("aangeroepen");

	var ul = document.getElementById("searchlist");

	ul.innerHTML = "";

	for (i = 0; i < namen.length; i++) {

		var li = document.createElement("li");

		var a = document.createElement("a");

		var link = '@Url.Action("Persoon")?naam=' + namen[i];

		//alert("loop");

		a.innerHTML = namen[i];

		a.setAttribute("id", namen[i]);

a.setAttribute("href", link)

a.setAttribute("class", "btn")

li.setAttribute("class", "dropdown-item");

ul.appendChild(li);

li.appendChild(a);

getElement(namen[i]);


};

}

function getElement(elementNaam) {

//alert("getElement " + elementNaam);

var f = {};

f.url = '@Url.Action("getElementType", "Deelplatform")';

f.type = "POST";

f.dataType = "json";

f.data = JSON.stringify({ naam: elementNaam });

f.contentType = "application/json";

f.success = function (response) {

//alert("success " + response + " " + elementNaam);

setLink(response, elementNaam);

};

f.error = function (response) {

//alert("failed");

};

$.ajax(f);

}

function setLink(response, elementNaam) {

var a = document.getElementById(elementNaam);

var link = a.getAttribute("href");

//alert("setLink " + response);

if (response == "Persoon") {

link = '@Url.Action("Persoon", "Deelplatform")?naam=' + elementNaam;

a.setAttribute("href", link);

//alert("response" + response);

}

else if (response == "Organisatie") {

//alert("response" + response);

link = '@Url.Action("Organisatie", "Deelplatform")?naam=' + elementNaam;

a.setAttribute("href", link);

}

else if (response == "Thema") {

//alert("response" + response);

link = '@Url.Action("Thema","Deelplatform")?naam=' + elementNaam;

a.setAttribute("href", link);

}

else {

alert("foutje");

};

}


function dropList() {

var ul = document.getElementById("searchlist");

var search = document.getElementById("searchBar").value;

if (search == "" || ul.children.length == 0) {

ul.style.display = "none";

} else {

ul.style.display = "block";

};

}

    </script>
</body>

</html>


@RenderSection("scripts", required: false)

