<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/css/sb-admin.css")

    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->

    <link href="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/css/sb-admin.css" rel="stylesheet" />
</head>
<body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Home/Index">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto" style="align-items:center">
                @if (User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/SuperAdmin/Index">SuperAdmin</a>
                    </li>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Index">Admin</a>
                    </li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.Action("MeldingDropDown", "Alert");
                    </li>
                }
                <li class="nav-item">

                    @*@using (Html.BeginForm("_SearchPartial", "Home", FormMethod.Get, new { @class = "form-inline" }))
                            {
                                            <div class="form-group">
                                                @Html.Label("searchstring", "searchstring", new { @class = "sr-only" })
                                                @Html.TextBox("searchstring", null, new { @class = "form-control" })
                                            </div>

                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </button>
                        }*@
                    <div class="form-group dropdown">
                        <div class="form-inline">
                            <input type="text" class="form-control" id="searchBar" onkeyup="dropList()" />
                            <button id="searchbutton" onclick="searchFunction()" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                        <ul class="list-group dropdown-menu" id="searchlist" style="margin:auto;width:90%;display:none"></ul>

                    </div>

                </li>
                @*<li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                    <div class="input-group">
                    <input class="form-control" type="text" placeholder="Zoeken naar...">
                    <span class="input-group-append">
                    <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                    </button>
                    </span>
                    </div>
                    </form>
                    </li>*@


                @*@if (!Request.IsAuthenticated)
                        {
                                <li class="nav-item">
                                    <a class="nav-link" href='@Url.Action("Login", "Account")'>
                                        <i class="fa fa-fw fa-sign-in"></i>Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href='@Url.Action("Register", "Account")'>
                                        <i class="fa fa-fw fa-sign-in"></i>Register
                                    </a>
                                </li>
                    }*@
                @*@if (Request.IsAuthenticated)
                        {
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-fw fa-sign-out"></i>LogOff
                                    </a>
                                </li>
                    }*@
                @Html.Partial("_LoginPartial")
            </ul>
        </div>

    </nav>
    <!-- /.content-wrapper-->
    @RenderBody()
    <footer class="card-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Politieke Barometer</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href='@Url.Action("LogOff", "Account")'>Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/chart.js/Chart.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin-datatables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-gh-pages/startbootstrap-sb-admin-gh-pages/js/sb-admin-charts.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
	$(document).ready(function () {
		$.ajax({
			type: "POST",
			url: @Url.Action("Alert", "GetData"),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: successFunc(result),
			error: errorFunc
		});

		function successFunc(result) {

		}
</script>
<script>
    $(document).ready(function () {
        $("#searchBar").keyup(function () {
            //alert("json")
            var searchtekst = document.getElementById("searchBar").value;
                var f = {};
                f.url = '@Url.Action("Search", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ searchstring: searchtekst });
                f.contentType = "application/json";
                f.success = function (response) {
                    //alert("succes json")
                    searchFunction(response);
                };
                //f.error = function (response) {
                //    alert("failed");
                //};
                $.ajax(f);
          });
        });
</script>
<script>
        function searchFunction(namen) {
            //alert("aangeroepen");
            var ul = document.getElementById("searchlist");
            ul.innerHTML = "";
            for (i = 0; i < namen.length; i++) {
                var li = document.createElement("li");
                var a = document.createElement("a");
                var link = '@Url.Action("Persoon")?naam=' + namen[i];
                //alert("loop");
                a.innerHTML = namen[i];
                a.setAttribute("id", namen[i]);
                a.setAttribute("href", link)
                a.setAttribute("class", "btn")
                li.setAttribute("class", "dropdown-item");
                ul.appendChild(li);
                li.appendChild(a);
                getElement(namen[i]);

            };
        }
        function getElement(elementNaam) {
            //alert("getElement " + elementNaam);
                var f = {};
                f.url = '@Url.Action("getElementType", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ naam: elementNaam });
                f.contentType = "application/json";
                f.success = function (response) {
                    //alert("success " + response + " " + elementNaam);
                    setLink(response, elementNaam);
                };
                f.error = function (response) {
                    //alert("failed");
                };
                $.ajax(f);
        }
        function setLink(response, elementNaam) {
            var a = document.getElementById(elementNaam);
            var link = a.getAttribute("href");
            //alert("setLink " + response);
            if (response == "Persoon") {
                    link = '@Url.Action("Persoon")?naam=' + elementNaam;
                    a.setAttribute("href", link);
                    //alert("response" + response);
                    }
                else if (response == "Organisatie") {
                    //alert("response" + response);
                    link = '@Url.Action("Organisatie")?naam=' + elementNaam;
                    a.setAttribute("href", link);
                    }
                else if (response == "Thema") {
                    //alert("response" + response);
                    link = '@Url.Action("Thema")?naam=' + elementNaam;
                    a.setAttribute("href", link);
                    }
                    else {
                        alert("foutje");
                    };
        }

        function dropList() {
            var ul = document.getElementById("searchlist");
            var search = document.getElementById("searchBar").value;
            if (search == "" || ul.children.length == 0) {
                ul.style.display = "none";
            } else {
                ul.style.display = "block";
            };
        }

</script>



