@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item btn btn-default"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Login", "Account")">Log in</a>
        </li>
        @*<li class="nav-item btn btn-default"> @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link", id = "registerLink" })</li>
        <li class="nav-item btn btn-default">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link", id = "loginLink" })</li>*@
    </ul>
}
