@model Domain.Persoon

@{
    ViewBag.Title = "DetailsPersoon";
}



<div class="container">
    <div class="card">
        <div class="card-header">Details van een persoon</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                @Html.ActionLink("Back to List", "LijstPersonen")
            </div>
            <div class="witteRuimte form-group">
                <h4>Persoon</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Naam)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Naam)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Trend)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Trend)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TrendingPlaats)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TrendingPlaats)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.District)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.District)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Level)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Level)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Twitter)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Twitter)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Site)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Site)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfBirth)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Facebook)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Facebook)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Postal_code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Postal_code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Position)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Position)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Organisation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Organisation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Town)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Town)
                    </dd>

                </dl>
                @Html.ActionLink("Edit", "EditPersoon", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>
