@model IEnumerable<Domain.Thema>

@{
    ViewBag.Title = "LijstThemas";
}



<div class="container">
    <div class="card">
        <div class="card-header">Lijst van de thema's</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                <p>
                    @Html.ActionLink("Create New", "CreateThema")
                    <br />
                    @Html.ActionLink("Downloaden", "ExportThemasToExcel")
                </p>
            </div>
            <div class="witteRuimte form-group">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Naam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trend)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrendingPlaats)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trend)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrendingPlaats)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditThema", new { id = item.Id }) |
                                @Html.ActionLink("Details", "DetailsThema", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "DeleteThema", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


