@model IEnumerable<Domain.Persoon>

@{
    ViewBag.Title = "LijstPersonen";
}

<style>

    .witteRuimte {
        border-radius: 5px;
        padding: 2rem;
        border: .5rem;
        border-color: darkgray;
        background-color: white;
    }
</style>

<div class="container">
    <div class="card">
        <div class="card-header">Lijst van de personen</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                <p>
                    @Html.ActionLink("Create New", "CreatePersoon")
                    <br />
                    @Html.ActionLink("Downloaden", "ExportPersonenToExcel")
                </p>
            </div>
            <div class="witteRuimte form-group">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Naam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Trend)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Level)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Naam)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Trend)
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.Level)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditPersoon", new { id = item.Id }) |
                                @Html.ActionLink("Details", "DetailsPersoon", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "DeletePersoon", new { id = item.Id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


