@model PolitiekeBarometer_MVC.Models.GrafiekViewModel

<script src="~/Scripts/jquery-3.0.0.min.js" defer></script>

@{

    if (Model != null)
    {
        List<string> datasetLabels = new List<string>();
        bool labelsGevuld = false;
        Dictionary<string, double> dataset = new Dictionary<string, double>();
        List<double> dataentries = new List<double>();
        List<string> labelentries = new List<string>();
        if (Model.datasets != null)
        {
            foreach (var item in Model.datasets)
            {
                datasetLabels.Add(item.Key);
                dataset = item.Value;
                if (!labelsGevuld)
                {
                    foreach (var entry in dataset)
                    {
                        dataentries.Add(entry.Value);
                        labelentries.Add(entry.Key);
                    }
                }

                labelsGevuld = true;
            }
            ViewBag.label = @Html.Raw(Json.Encode(labelentries));
            ViewBag.data = @Html.Raw(Json.Encode(dataentries));

            <p id="@Model.id entry" hidden>@Html.Raw(Json.Encode(dataentries)) </p>
            <p id="@Model.id label" hidden>@Html.Raw(Json.Encode(labelentries))</p>
            <p id="@Model.id type" hidden>@Html.Raw(Model.GrafiekType)</p>
        }
    }
}
<style>
.graph{
    max-height:500px;
    width:500px;
}
</style>

<canvas class="graph" on id="@Model.id grafiek"></canvas>

<button onclick="laadGrafiek(@Model.id)"> laadgrafiek</button>

<script type="text/javascript">
    laadGrafiek(@Model.id);
</script>



