@model Domain.Alert
@{
    ViewBag.Title = "EditAlert";
}
<link href="~/Content/Stylesheets/Tooltip.css" rel="stylesheet" />
<style>
    .chosen-container {
        width: 100% !important;
    }

    .createAlert {
        border-radius: 5px;
        padding: 2rem;
        border: .5rem;
        border-color: darkgray;
        background-color: white;
    }

    .panel-collapse:after {
        content: "\2796";
    }

    .collapsed:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        margin-left: 5px;
    }
</style>
<h2>EditAlert</h2>

<div class="container">
    <div class="card ">
        <div class="card-header">Maak Nieuw Alert</div>
        <div class="card-body bg-dark">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="form-group createAlert" id="elementen">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <h4 for="DataType">
                            Kies uw persoon, organisatie of thema
                            <i class="fa fa-arrow-down tooltipContainer">
                                <span class="tooltiptext">
                                    De waarde van de alert wordt bepaalt door het geselecteerde element<br /><br />
                                    Met een vergelijking wordt de waarde als volgt bepaald<br /><br />
                                    De waarde is &lt; 0 wanneer het vergelijkingselement groter is<br /><br />
                                    De waarde is &gt; 0 wanneer het geselecteerde element groter is
                                </span>
                            </i>
                        </h4>
                        <select id="test" class="chosen-select" name="element" style="width:100%;">
                            @foreach (var item in ViewBag.Suggestions)
                            {
                                if (@item.Naam == Model.DataConfig.Element.Naam)
                                {
                                    <option selected value="@item.Naam">@item.Naam</option>

                                }
                                else
                                {
                                    <option value="@item.Naam">@item.Naam</option>

                                }

                            }
                        </select>

                        <a class="card-link panel-collapse collapsed" data-toggle="collapse" href="#collapseThemas" data-parent="#exampleAccordion">
                            <span class="nav-link-text">Vergelijking toevoegen</span>
                        </a>
                        <div class="collapse" id="collapseThemas">
                            <select id="test" class="chosen-select" name="vergelijking" style="width:100%;">
                                <option value="geen"></option>
                                @foreach (var item in ViewBag.Suggestions)
                                {
                                    if (Model.DataConfig.Vergelijking != null && item.Naam == Model.DataConfig.Vergelijking.Naam)
                                    {
                                        <option selected value="@item.Naam">@item.Naam</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Naam">@item.Naam</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group createAlert">
                        <h3>
                            Waarde van de alert <br />
                        </h3>
                        <div id="waarde">
                            <label>
                                Waarde
                                <i class="fa fa-arrow-down tooltipContainer">
                                    <span class="tooltiptext">
                                        De waarde die overschreden moet worden:<br />
                                        Dit is een stijging/daling per dag
                                    </span>
                                </i>:
                            </label>
                            <input name="waarde" value="@Model.Waarde" class="form-control w-25" type="number" />
                        </div>
                        <div id="bewerking">
                            <label>
                                Bewerking
                                <i class="fa fa-arrow-down tooltipContainer">
                                    <span class="tooltiptext">
                                        Bepaalt welk type data gebruikt bij het berekenen:<br />
                                        Totaal: totaal aantal posts<br />
                                        Percentage: relatieve stijging/trend
                                    </span>
                                </i>:
                            </label>
                            <div></div>
                            <select name="bewerking" class="form-control  w-25">
                                @foreach (Domain.DataType value in Enum.GetValues(typeof(Domain.DataType)))
                                {
                                    if (Model.DataType == value)
                                    {
                                        <option selected value="@value.ToString().ToLower()">
                                            @Enum.GetName(typeof(Domain.DataType), value).ToLower()
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@value.ToString().ToLower()">
                                            @Enum.GetName(typeof(Domain.DataType), value).ToLower()
                                        </option>

                                    }

                                }
                            </select>
                        </div>
                        <div id="operator">
                            <label>
                                Operator
                                <i class="fa fa-arrow-down tooltipContainer">
                                    <span class="tooltiptext">
                                        Bepaalt wanneer de alert wordt verzonden:<br />
                                        Stijging: Wanneer de huidige waarde groter is dan de ingestelde waarde<br />
                                        Daling: Wanneer de huidige waarde kleiner is dan de ingestelde waarde
                                    </span>
                                </i>:
                            </label>
                            <select name="operator" class="form-control w-25">
                                <option value="stijging">stijging</option>
                                <option value="daling">daling</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-group createAlert">
                        <h4>Selecteer ontvangstmethode</h4>
                        <div class="form-group form-inline ">
                            @Html.LabelFor(model => model.EmailMelding, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.CheckBoxFor(model => model.EmailMelding)
                        </div>
                        <div class="form-group  form-inline">
                            @Html.LabelFor(model => model.BrowserMelding, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.CheckBoxFor(model => model.BrowserMelding)
                        </div>

                        <div class="form-group  form-inline">
                            @Html.LabelFor(model => model.ApplicatieMelding, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.CheckBoxFor(model => model.ApplicatieMelding)
                        </div>
                    </div>
                    <div class="form-group createAlert ">
                        <h4>Filters</h4>
                        @Html.Label("Age")
                        <div class="form-group">
                            <input type="radio" name="Age" value="Geen"> Geen filter
                            <input type="radio" name="Age" value="Positief"> +25j
                            <input type="radio" name="Age" value="Negatief"> -25j<br>
                        </div>
                        @Html.Label("Sentiment")
                        <div class="form-group">
                            <input type="radio" name="Sentiment" value="Geen"> Geen filter
                            <input type="radio" name="Sentiment" value="Positief"> Positief
                            <input type="radio" name="Sentiment" value="Negatief"> Negatief<br>
                        </div>
                        @Html.Label("Retweet")
                        <div class="form-group">
                            <input type="radio" name="Retweet" value="Geen"> Geen filter
                            <input type="radio" name="Retweet" value="Positief"> Enkel Retweets
                            <input type="radio" name="Retweet" value="Negatief"> Geen Retweets<br>
                        </div>
                    </div>
                    <button type="submit" value="Submit" class="btn btn-primary">Save</button>

                </div>
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "LijstAlerts")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript">
        $(document).ready(
            function () {
                $(".chosen-select").chosen(
                    {
                        width: "100px",
                        allow_single_deselect: true,
                        disable_search_treshold: 10,
                        no_results_text: "Geen elementen met deze naam gevonden"
                    }
                );
            }
        );
    </script>

}
