@model IEnumerable<Domain.Alert>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "CreateAlert")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlertId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicatieMelding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrowserMelding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailMelding)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlertId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicatieMelding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrowserMelding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailMelding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Waarde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAlert", new { id = item.AlertId }) |
            @Html.ActionLink("Details", "DetailsAlert", new { id = item.AlertId }) |
            @Html.ActionLink("Delete", "DeleteAlert", new { id = item.AlertId })
        </td>
    </tr>
    }
</table>

