@model  IEnumerable<Domain.Dashboards.Zone>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>



<div class="container border-danger">

    @foreach (var zone in Model)
    {
        <div class="btn-group">
            <button data-toggle="tab" href="@zone.Id" onclick="visible(@zone.Id)" class=" btn btn-primary">
                @Html.DisplayFor(modelItem => zone.Naam)

            </button>
            @Html.ActionLink("x", "DeleteZone", new { zoneId = zone.Id }, new { @class = "btn btn-outline-secondary" })

        </div>
    }
    @Html.ActionLink("+", "AddZone", null, new { @class = "btn btn-outline-primary " })
    @foreach (var zone in Model)
    {
        <div class="tab-content bg-light">
            <div id="@zone.Id" class="tab-pane" style="display:none">
                <h3>@Html.Action("_ItemsPartial", new { zoneId = zone.Id })</h3>
            </div>
            ﻿<canvas id="grafiek"></canvas>
        </div>
    }
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
        Maak Grafiek
    </button>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stap 1</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Welk type grafiek kies je?
                <br />
                <a onclick="GrafiekType(1)"><i class="fa fa-line-chart" style="font-size: 80px"></i></a>
                <a onclick="GrafiekType(2)"><i class="fa fa-bar-chart" style="font-size: 80px"></i></a>
                <a onclick="GrafiekType(3)"><i class="fa fa-pie-chart" style="font-size: 80px"></i></a>
                <select id="dataType" onchange="Zone()">
@foreach (var zone in Model)
{
    <option value="@zone.Naam">@zone.Naam</option>
}
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Volgende</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stap 2</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Welk datatype kies je?
                <br />
                <select id="dataType" onchange="DataType()">
                    <option value="aantal">aantal</option>
                    <option value="sentiment">sentiment</option>
                </select>
                <br />
                Van <input type="date" onchange="Datum()" id="begin"> Tot <input type="date" onchange="Datum()" id="einde">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="MaakGrafiek()">Maak Grafiek</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id = 0;
    function visible(zone) {
        var items = document.getElementById(zone);
        if (items.style.display == 'none') {
            items.style.display = 'block';
            if (id != 0 && id != zone) {
                var item = document.getElementById(id);
                item.style.display = 'none';
            }
            id = zone;
        } else {
            items.style.display='none';
        }

    }
</script>
<script>
    var grafiekType = 1;
    var data;
    var datum = [];
    document.addEventListener('DOMContentLoaded', function () {
    }, false);
    function TaartGrafiek() {
        var ctx = document.getElementById("grafiek");

        var myPieChart = new Chart(ctx, {
            type: grafiekType,
            data: {
                labels: ["Blue", "Red", "Yellow", "Green"],
                datasets: [{
                    data: [12.21, 15.58, 11.25, 8.32],
                    backgroundColor: ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6',
                        '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                        '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
                        '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                        '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
                        '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                        '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
                        '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                        '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
                        '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'],
                }],
            },
        });
    }
    function BarGrafiek() {
        var ctx = document.getElementById("grafiek");
        var myLineChart = new Chart(ctx, {
            type: grafiekType,
            data: {
                labels: datum,
                datasets: [{
                    label: "Trending",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: [4215, 5312, 6251, 7841, 9821, 14984],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 20000,
                            maxTicksLimit: 10
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                },
                legend: {
                    display: true
                }
            }
        });
    }
    function LijnGrafiek() {
        var ctx = document.getElementById("grafiek");
        var myLineChart = new Chart(ctx, {
            type: grafiekType,
            data: {
                labels: datum,
                datasets: [{
                    label: "Sessions",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 20,
                    pointBorderWidth: 2,
                    data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 40000,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });
    }
    function GrafiekType(type) {
        grafiekType = type;
    }
    function DataType() {
        data = document.getElementById("dataType").value;
    }
    function Datum() {
        var begin = new Date(document.getElementById("begin").value);
        var einde = new Date(document.getElementById("einde").value);
        // date array
            var
                arr = new Array(),
                dt = new Date(begin);

            while (dt <= einde) {
                arr.push(new Date(dt).toLocaleDateString());
                dt.setDate(dt.getDate() + 1);
            }
            datum = arr;
    }
    function MaakGrafiek() {
        var div = document.getElementById("grafiek");
        switch (grafiekType) {
            case 1:
                grafiekType = "line";
                Datum();
                LijnGrafiek();
                break;
            case 2:
                grafiekType = "bar";
                Datum();
                BarGrafiek();
                break;
            case 3:
                grafiekType = "pie";
                TaartGrafiek();
        }
    }

</script>