@model  IEnumerable<Domain.Dashboards.Zone>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
@*<div id="dashboard">
    @* @if (Request.IsAuthenticated)
        {
    @foreach (var zone in Model)
    {
        <div class="card mb-3" align="center">
            <button class="card-header" onclick="visible(@zone.Id)">
                @Html.DisplayFor(modelItem => zone.Naam, new { htmlAttributes = new { @class = "card-header" } })
                @Html.ActionLink("x", "DeleteZone", new { zoneId = zone.Id }, new { htmlAttributes = new { @class = "card-footer" } })
            </button>
            <div class="card-body" id="@zone.Id" style="display:none">
                @Html.Action("_ItemsPartial", new { zoneId = zone.Id })
            </div>
        </div>*@


@*<div class="container">
            @foreach (var item in Model)
            {
                <div class="card bg-light">
                    <div contenteditable="true">
                        @Html.DisplayFor(modelItem => item.Naam, new { htmlAttributes = new { @class = "card-header" } })
                    </div>
                    @Html.ActionLink("setActive", "setActiveZone", new { zoneId = item.Id }, new { htmlAttributes = new { @class = "card-body" } })


                    @Html.ValidationMessageFor(modelItem => item.Naam, "", new { @class = "text-danger" })

                    @Html.ActionLink("x", "DeleteZone", new { zoneId = item.Id }, new { htmlAttributes = new { @class = "card-footer" } })
                </div>
            }
            @Html.ActionLink("plus", "AddZone", null, new { @class = "newtab" })
        </div>
        <div id="tab">

        </div>
    </div>*@



<div class="container border-danger">

    
        @foreach (var zone in Model)
        {
            
                <div class="btn-group">
                    <button data-toggle="tab" href="@zone.Id" onclick="visible(@zone.Id)" class=" btn btn-primary">
                        @Html.DisplayFor(modelItem => zone.Naam)
                    </button>
                    @Html.ActionLink("x", "DeleteZone", new { zoneId = zone.Id }, new { @class = "btn btn-outline-secondary" })
                </div>

            
        }
        @Html.ActionLink("+", "AddZone", null, new { @class = "btn btn-outline-primary " })
    
    @foreach (var zone in Model)
    {
        <div class="tab-content bg-light">
            <div id="@zone.Id" class="tab-pane" style="display:none">
                <h3>@Html.Action("_ItemsPartial", new { zoneId = zone.Id })</h3>
            </div>
        </div>
    }
</div>
<script>
    var id = 0;
    function visible(zone) {
        var items = document.getElementById(zone);
        if (items.style.display == 'none') {
            items.style.display = 'block';
            if (id != 0 && id != zone) {
                var item = document.getElementById(id);
                item.style.display = 'none';
            }
            id = zone;
        } else {
            items.style.display = 'none';
        }

    }
</script>