@model Domain.Persoon
@{
    ViewBag.Title = "Persoon";
}


<div class="card mb-3" align="center" style="margin:20px">
    <div class="card-body grid-container">
        <div class="naam">
            @Html.DisplayFor(model => model.Naam)
        </div>
        <div class="organisatie">
            @if (Model.Organisatie is null)
            {
            <p>Geen organisatie gevonden</p>
            }
            else
            {
              @Html.DisplayFor(model => model.Organisatie.Naam)
            }
        </div>
       
            <img class="rounded-circle border foto" height="150" src="@Url.Action("setImage", new {twitter = Model.Twitter })" />
        
            <a class="twitter" href="@Url.Action("setTwitter", new { twitter = Model.Twitter })" target="_blank"> twitter: @Html.DisplayFor(model => model.Twitter)</a>

        
    </div>
</div>
<div class="row">
    <div class="card mb-3">
        <div class="card-header" style="margin:20px">
            Item1
        </div>
        <div class="card-body">
            itembody
        </div>
    </div>
    <div class="card mb-3 col-sm-4 ">
        <div class="card-header">
            Item2
        </div>
        <div class="card-body">
            itembody
        </div>
    </div>
    <div class="card mb-3 col-sm-4">
        <div class="card-header">
            Item3
        </div>
        <div class="card-body">
            itembody
        </div>
    </div>
</div>
<style>    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named */ 
    .foto {
        grid-column:1;
        grid-row:1 / span 3;
    }

    .naam {
        grid-column:2 /span 2;
        grid-row: 1;
    }

    .twitter {
        grid-column:2 / span 2;
        grid-row:3;
    }
    .organisatie {
        grid-column:2 /span 2;
        grid-row:2;
    }


    .grid-container {
        display: grid;
        grid-gap: 20px;
        padding: 20px;
        align-self: center;
    }
</style>

