@model Domain.Persoon
@{
    ViewBag.Title = "Persoon";
}


<div class="card mb-3" align="center" style="margin:20px">
    <div class="card-body grid-container">
        <div class="naam">
            @Html.DisplayFor(model => model.Naam)
        </div>
        <div class="organisatie">
            @if (Model.Organisatie is null)
            {
                <p>Geen organisatie gevonden</p>
            }
            else
            {
                @Html.DisplayFor(model => model.Organisatie.Naam)
            }
        </div>

        <img class="rounded-circle border foto" height="150" src="@Url.Action("setImage", new {twitter = Model.Twitter })" />

        <a class="twitter" href="@Url.Action("setTwitter", new { twitter = Model.Twitter })" target="_blank"> twitter: @Html.DisplayFor(model => model.Twitter)</a>


    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="card-footer small text-muted elementMenu">
            <div id="@Model.Id" class="float-right" style="display:inline">
                <div id="menuIcons" class="float-left" style="visibility:hidden">
                    <button id="iconAlert" class="btn btn-default" data-toggle="modal" data-target="#AlertModal1"><i class="fa fa-bell"></i></button>
                    <button id="iconVolgen" class="btn btn-default" onclick="volgenFunction(this)"><i class="fa fa-heart"></i></button>
                </div>
                <button id="btnMenu" class="btn btn-default" style="margin-left:3px" onclick="menuFunction(this)"><i id="iconMenu" class="fa fa-bars"></i></button>
            </div>
        </div>
    }
    
</div>
<div class="modal fade" id="AlertModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert instellen</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Ik wil een alert ontvangen als:</p>
                <select id="alertSelect" class="form-control" onchange="alertSelect(this)">
                    <option value="aantal">het aantal berichten over en/of van @Model.Naam </option>
                    <option value="trend">de trend van @Model.Naam </option>
                </select>
                <br />
                <form>
                    <div id="stijgt" class="radio">
                        <label><input type="radio" id="stijgtRadio" name="optradio"> Stijgt met <input id="stijgtPercentage" type="number" class="small" name="quantity" >%</label>
                    </div>
                    <div id="daalt" class="radio">
                        <label><input type="radio" id="daaltRadio" name="optradio"> Daalt met <input id="daaltPercentage" type="number" class="small" name="quantity" >%</label>
                    </div>
                    <div id="pos" class="radio">
                        <label><input type="radio" id="posRadio" name="optradio"> positiever wordt met <input id="posPercentage" type="number" class="small" name="quantity">%</label>
                    </div>
                    <div id="neg" class="radio">
                        <label><input type="radio" id="negRadio" name="optradio"> negatiever wordt met <input id="negPercentage" type="number" class="small" name="quantity" >%</label>
                    </div>
                </form>
                <br />
                <p>Ik wil een melding ontvangen via: </p>
                <form>
                    <div class="checkbox">
                        <label><input id="browsermelding" type="checkbox" name="optradio"> de website</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="mailmelding" type="checkbox" name="optradio"> mail</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="appmelding" type="checkbox" name="optradio"> de app</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Annuleer</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" onclick="saveAlert()">Save</button>
            </div>
        </div>
    </div>
</div>
<div style="margin:20px">
@Html.Action("_ItemPartial", new { grafiekType = 0, index = 0, labels = ViewBag.LabelsLijn, data = ViewBag.DataLijn, page = "persoon" })
@Html.Action("_ItemPartial", new { grafiekType = 1, index = 1, labels = ViewBag.Labels, data = ViewBag.Data, page = "persoon" })
@Html.Action("_ItemPartial", new { grafiekType = 2, index = 2, labels = ViewBag.Labels, data = ViewBag.Data, page = "persoon" })
@ViewBag.LabelsLijn

@ViewBag.DataLijn
</div>
<script>
    var menuOpen = false;
    function menuFunction(el) {
        var test = el.parentElement;
        //var test = document.getElementById('@ViewBag.grafiekButtons');
        var menuIcons = test.children[0];
        var btnMenu = test.children[1];
        var iconMenu = btnMenu.children[0];
        if (menuOpen == false) {
            iconMenu.style.transform = "rotate(90deg)";
            btnMenu.setAttribute("class", "btn btn-secondary");
            menuIcons.style.visibility = 'visible';
            menuOpen = true;
        } else {
            iconMenu.style.transform = "none";
            btnMenu.setAttribute("class", "btn btn-default");
            menuIcons.style.visibility = "hidden";
            menuOpen = false;
        };
    }
    var volgenDown = false;
    function volgenFunction(el) {
        var volgen = el;
        var element = '@Model.Id';
        if (volgenDown == false) {
            //toevoegen aan weeklyreview
            volgen.setAttribute("class", "btn btn-secondary");
            volgenDown = true;
            var f = {};
                f.url = '@Url.Action("addWeeklyReview", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ id: element });
                f.contentType = "application/json";
                f.success = function (response) {
                    alert("element toegevoegd aan weekly review");
                };
                f.error = function (response) {
                    alert("failed");
                };
                $.ajax(f);
        } else {
            //verwijderen van weeklyreview
            volgen.setAttribute("class", "btn btn-default");
            volgenDown = false;
            var f = {};
                f.url = '@Url.Action("removeWeeklyReview", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ id: element });
                f.contentType = "application/json";
                f.success = function (response) {
                    alert("element verwijderd uit weekly review");
                };
                f.error = function (response) {
                    alert("failed");
                };
                $.ajax(f);
        };
    }
    function alertSelect(el) {
        var option = el.options[el.selectedIndex].value
        var radioform = el.parentElement.children[3];
        var posRadio = radioform.children[2].children[0];
        var negRadio = radioform.children[3].children[0];
        if (option == 'trend') {
            posRadio.style.visibility = "hidden";
            negRadio.style.visibility = "hidden";
        } else {

            posRadio.style.visibility = "visible";
            negRadio.style.visibility = "visible";
        }
    }
    function saveAlert(el) {
        var parent = el.parentElement.parentElement.parentElement.parentElement;

        //var grafiek = parent.id;
        //var grafiekindex = grafiek[grafiek.length - 1];
        var elementId = '@Model.Id';

        var modalbody = parent.children[0].children[0].children[1];
        var alertselect = modalbody.children[1];
        var radioform = modalbody.children[3];
        var meldform = modalbody.children[6];
        var stijgtRadio = radioform.children[0].children[0].children[0];
        var stijgtPercent = radioform.children[0].children[0].children[1];
        var daaltRadio = radioform.children[1].children[0].children[0];
        var daaltPercent = radioform.children[1].children[0].children[1];
        var posRadio = radioform.children[2].children[0].children[0];
        var posPercent = radioform.children[2].children[0].children[1];
        var negRadio = radioform.children[3].children[0].children[0];
        var negPercent = radioform.children[3].children[0].children[1];
        var browser = meldform.children[0].children[0].children[0].checked;
        var mail = meldform.children[1].children[0].children[0].checked;
        var app = meldform.children[2].children[0].children[0].checked;


        var option = alertselect.options[alertselect.selectedIndex].value;
        var selectedRadio = "";
        var percentage = 0;

        if (stijgtRadio.checked == true) {
            percentage = stijgtPercent.value;
            selectedRadio = "stijgt";
        } else if (daaltRadio.checked == true) {
            percentage = daaltPercent.value;
            selectedRadio = "daalt";
        } else if (posRadio.checked == true) {
            percentage = posPercent.value;
            selectedRadio = "pos";
        } else if (negRadio.checked == true) {
            percentage = negPercent.value;
            selectedRadio = "neg";
        } else {
            alert("foutje");
        };
        //tot hier in orde
        var f = {};
                f.url = '@Url.Action("addAlert", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ id: elementId, percentage: percentage, radio: selectedRadio, soort: option, browser: browser, mail: mail, app: app });
                f.contentType = "application/json";
                f.success = function (response) {
                    alert("alert opgeslagen");
                };
                f.error = function (response) {
                    alert("failed");
                };
                $.ajax(f);
    }
</script>

<style>
    /* https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named */
    .elementMenu {
        background-color: white;
        border: none;
        position: absolute;
        bottom: 0%;
        right: 0%;
    }
    .foto {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .naam {
        grid-column: 2 /span 2;
        grid-row: 1;
    }

    .twitter {
        grid-column: 2 / span 2;
        grid-row: 3;
    }

    .organisatie {
        grid-column: 2 /span 2;
        grid-row: 2;
    }


    .grid-container {
        display: grid;
        grid-gap: 20px;
        padding: 20px;
        align-self: center;
    }
</style>

