@model  List<Domain.Element>
@{
    ViewBag.Title = "SearchPage";
}


    @foreach (var element in Model)
    {

        <li>
            @if (element.GetType().Equals(typeof(Domain.Organisatie)))
            {

                <a href="@Url.Action("Organisatie", new { naam = element.Naam })">
                    @Html.DisplayFor(modelItem => element.Naam)
                </a>

            }

            @if (element.GetType().Equals(typeof(Domain.Persoon)))
            {
                <a href="@Url.Action("Persoon", new { naam = element.Naam })">
                    @Html.DisplayFor(modelItem => element.Naam)
                </a>

            }

            @if (element.GetType().Equals(typeof(Domain.Thema)))
            {

                <a href="@Url.Action("Thema", new { naam = element.Naam })">
                    @Html.DisplayFor(modelItem => element.Naam)
                </a>

            }
        </li>
    }



