
<input type="submit" value="click me" id="maakGrafiek" />

﻿<p id="demo">A Paragraph</p>
<h3>@ViewBag.Namen[0]</h3>
<h3>@ViewBag.Ids[0]</h3>
<style>
    .item1 {
        grid-area: header;
        grid-column: 1 / span 3;
        grid-row: 1
    }

    .item2 {
        grid-area: menu;
        grid-column: 1;
        grid-row: 2;
    }

    .item3 {
        grid-area: main;
        grid-column: 2;
        grid-row: 2
    }

    .item4 {
        grid-area: right;
        grid-column: 3;
        grid-row: 2
    }

    .item5 {
        grid-area: footer;
        grid-column: 1 / span 3;
        grid-row: 3
    }

    .grid-container {
        max-width: 90%;
        min-width: 90%;
        width: 90%;
        margin: auto;
        display: grid;
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
    }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            overflow: auto;
            resize: both;
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
        }
</style>
﻿<canvas id="maakGrafiek"></canvas>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
    Maak Grafiek
</button>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stap 1: Welk type grafiek kies je?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="align-self:center">
                <button class="btn btn-default" onclick="GrafiekType(1)"><i class="fa fa-line-chart" style="font-size: 80px"></i></button>
                <button class="btn btn-default" onclick="GrafiekType(2)"><i class="fa fa-bar-chart" style="font-size: 80px"></i></button>
                <button class="btn btn-default" onclick="GrafiekType(3)"><i class="fa fa-pie-chart" style="font-size: 80px"></i></button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Volgende</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stap 2: Kies je data</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="dataType">Welk datatype kies je?</label>
                <select id="dataType" class="form-control" onchange="DataType()">
                    <option value="volvo">aantal</option>
                    <option value="saab">sentiment</option>
                </select>
                <br />
                <label for="begin">Van:</label><input class="form-control" type="date" id="begin" value="begin">
                <label for="einde">Tot:</label><input class="form-control" type="date" id="einde" value="einde">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal3">Volgende</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stap 3: Voeg je filters toe</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <label for="searchElement">Zoek je personen, organisaties of thema's waarop je wil filteren:</label>
                <div class="form-group">
                    <div class="form-inline">
                        <input type="text" class="form-control" id="searchElement" onkeyup="dropElementList()" />
                        <button id="searchbutton" onclick="searchFunction()" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                    <ul class="list-group dropdown-menu" id="searchElementList" style="margin:auto;width:90%;display:none;position:static"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ToonGrafiek()" data-toggle="modal" data-target="#myModal4">Toon Grafiek</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Stap 4: Dit is het resultaat</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ﻿<canvas id="toonGrafiek"></canvas>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Stoppen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="MaakGrafiek()">Maak Grafiek</button>
            </div>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="item1" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"><div class="" id="drag1" draggable="true" ondragstart="drag(event)">@Html.Action("_LijnGrafiekPartial", new { index = 0 })</div></div>
    <div class="item2" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"><div class="" id="drag2" draggable="true" ondragstart="drag(event)">@Html.Action("_BarGrafiekPartial", new { index = 0 })</div></div>
    <div class="item3" id="div3" ondrop="drop(event)" ondragover="allowDrop(event)"><div class="" id="drag3" draggable="true" ondragstart="drag(event)">@Html.Action("_BarGrafiekPartial", new { index = 1 })</div></div>
    <div class="item4" id="div4" ondrop="drop(event)" ondragover="allowDrop(event)"><div class="" id="drag4" draggable="true" ondragstart="drag(event)">@Html.Action("_BarGrafiekPartial", new { index = 2 })</div></div>
    <div class="item5" id="div5" ondrop="drop(event)" ondragover="allowDrop(event)"><div class="" id="drag5" draggable="true" ondragstart="drag(event)">@Html.Action("_TaartGrafiekPartial", new { index = 0 })</div></div>
</div>

@*<div class="row">
        <div class="col-sm-4" id="drag3" draggable="true" ondragstart="drag(event)">@Html.Action("_BarGrafiekPartial", new { index = 0 })</div>
        <div class="col-sm-4">@Html.Action("_BarGrafiekPartial", new { index = 1 })</div>
        <div class="col-sm-4">@Html.Action("_BarGrafiekPartial", new { index = 2 })</div>
    </div>*@

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var grid = ev.target;
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
@section scripts {
    <script type="text/javascript">
     $(document).ready(function () {
         $("#searchElement").keyup(function () {
             //alert("json");
            var searchtekst = document.getElementById("searchElement").value;
                var f = {};
                f.url = '@Url.Action("Search", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ searchstring: searchtekst });
                f.contentType = "application/json";
                f.success = function (response) {
                   // alert("succes json"+response);
                    searchElementFunction(response);
                };
                //f.error = function (response) {
                //    alert("failed");
                //};
                $.ajax(f);
          });
       });
    </script>
}
<script>
    function searchElementFunction(response) {
        alert("search");
        var ul = document.getElementById("searchElementList");
        ul.innerHTML = "";
        for (i = 0; i < response.length; i++) {

            var li = document.createElement("li");
            var a = document.createElement("a");
            var link = "filterElement(\"" + response[i] + "\")";
            a.innerHTML = response[i];
            a.setAttribute("id", response[i]);
            a.setAttribute("onclick", link);
            a.setAttribute("class", "btn");
            li.setAttribute("class", "dropdown-item");
            ul.appendChild(li);
            li.appendChild(a);
        };
    }

    function filterElement(elementNaam) {
        var ul = document.getElementById("searchElementList");
        ul.innerHTML = "";
        for (i = 0; i < response.length; i++) {

            var li = document.createElement("li");
            var a = document.createElement("a");
            var link = "filterElement(\"" + response[i] + "\")";
            a.innerHTML = response[i];
            a.setAttribute("id", response[i]);
            a.setAttribute("onclick", link);
            a.setAttribute("class", "btn");
            li.setAttribute("class", "dropdown-item");
            ul.appendChild(li);
            li.appendChild(a);
    }

    function dropElementList() {
        //alert("droplist");
        var ul = document.getElementById("searchElementList");
        var search = document.getElementById("searchElement").value;
        if (search == "" || ul.children.length == 0) {
            ul.style.display = "none";
        } else {
            ul.style.display = "block";
        };
    }
</script>

<script>
    var grafiekType = 1;
    var data;
    var datum = [];

    document.addEventListener('DOMContentLoaded', function () {
    }, false);

    function TaartGrafiek(plaats) {
        var ctx = plaats;

        var myChart = new Chart(ctx, {
            type: grafiekType,
            data: {
                labels: ["Blue", "Red", "Yellow", "Green"],
                datasets: [{
                    data: [12.21, 15.58, 11.25, 8.32],
                    backgroundColor: ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6',
                        '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                        '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A',
                        '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                        '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
                        '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                        '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
                        '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                        '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
                        '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'],
                }],
            },
        });
    }
    function BarGrafiek(plaats) {
        var ctx = plaats;
        var myChart = new Chart(ctx, {
            type: grafiekType,
            data: {
                labels: ["January", "February", "March", "April", "May", "June"],
                datasets: [{
                    label: "Trending",
                    backgroundColor: "rgba(2,117,216,1)",
                    borderColor: "rgba(2,117,216,1)",
                    data: [4215, 5312, 6251, 7841, 9821, 14984],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 20000,
                            maxTicksLimit: 10
                        },
                        gridLines: {
                            display: true
                        }
                    }],
                },
                legend: {
                    display: true
                }
            }
        });
    }
    function LijnGrafiek(plaats) {
        var ctx = plaats;
        var myChart = new Chart(ctx, {
            type: grafiekType,
            data: {
                labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
                datasets: [{
                    label: "Sessions",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 20,
                    pointBorderWidth: 2,
                    data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
                }],
            },
            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 40000,
                            maxTicksLimit: 5
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });
    }
    function GrafiekType(type) {
        grafiekType = type;
    }
    function DataType() {
        data = document.getElementById("dataType").value;
    }
    function Datum() {
        var begin = new Date(document.getElementById("begin").value);
        var einde = new Date(document.getElementById("einde").value);
        // date array
        var getDateArray = function (begin, einde) {

            var
                arr = new Array(),
                dt = new Date(begin);

            while (dt <= end) {
                arr.push(new Date(dt));
                dt.setDate(dt.getDate() + 1);
            }
            return arr;
        }

    }
    function ToonGrafiek() {
        var div = document.getElementById("toonGrafiek");
        switch (grafiekType) {
            case 1:
                grafiekType = "line";
                LijnGrafiek(div);
                break;
            case 2:
                grafiekType = "bar";
                BarGrafiek(div);
                break;
            case 3:
                grafiekType = "pie";
                TaartGrafiek(div);
        }
    }
    function MaakGrafiek() {
        var div = document.getElementById("maakGrafiek");
        switch (grafiekType) {
            case 1:
                grafiekType = "line";
                LijnGrafiek(div);
                break;
            case 2:
                grafiekType = "bar";
                BarGrafiek(div);
                break;
            case 3:
                grafiekType = "pie";
                TaartGrafiek(div);
        }
    }


</script>

