@model  Domain.Thema
@{
    ViewBag.Title = "Thema";
}

<div class="card mb-3" align="center" style="margin:20px">
    <div class="card-body grid-container">
        <div class="naam">
            @Html.DisplayFor(model => model.Naam)
        </div>
        <div>
            @*@Html.Action("setOrganisatie",new { organisatie = Model.Organisatie})*@
        </div>

        @*<img class="rounded-circle border foto" height="150" src="@Url.Action("setImage", new {twitter = Model.Twitter })" />

        <a class="twitter" href="@Url.Action("setTwitter", new { twitter = Model.Twitter })" target="_blank"> twitter: @Html.DisplayFor(model => model.Twitter)</a>*@


    </div>
</div>
@Html.Action("_ItemPartial", new { grafiekType = 0, index = 0, labels = ViewBag.LabelsLijn, data = ViewBag.DataLijn })
@Html.Action("_ItemPartial", new { grafiekType = 1, index = 1, labels = ViewBag.Labels, data = ViewBag.Data })
@Html.Action("_ItemPartial", new { grafiekType = 2, index = 2, labels = ViewBag.Labels, data = ViewBag.Data })
@ViewBag.LabelsLijn

@ViewBag.DataLijn