<!DOCTYPE html>
@ViewBag.LabelsLijn1
@ViewBag.DataLijn1

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
</head>
<body class="sidenav-toggled">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" style="height:0;">
        <div class="collapse collapsed navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                @if (Request.IsAuthenticated)
                {
                    <!-- Dashboard-->
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                        <a class="nav-link" href="@Url.Action("Index", "Dashboard")">

                            <i class="fa fa-fw fas fa-wrench"></i>
                            <span class="nav-link-text">Mijn Dashboard</span>
                        </a>
                    </li>
                    <!-- Alert List-->
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Alerts">
                        <a class="nav-link" onclick="" href="@Url.Action("LijstAlerts", "Alert")">
                            <i class="fa fa-fw fas fa-bell"></i>
                            <span class="nav-link-text">Mijn Alerts</span>
                        </a>
                    </li>
                }
                <!-- Dropdown trending Personen-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Politiekers">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePolitiekers" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fas fa-users"></i>
                        <span class="nav-link-text">Personen</span>
                    </a>
                    @Html.Action("_PersonenDropDown")
                </li>
                <!-- Dropdown trending Organisaties-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Partijen">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePartijen" data-parent="#exampleAccordion">
                        <i class="fa fa-fw far fa-circle"></i>
                        <span class="nav-link-text">Organisaties</span>
                    </a>
                    @Html.Action("_OrganisatieDropDown")
                </li>
                <!-- Dropdown trending Thema's-->
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Themas">
                    <a class="nav-link navbar-light nav-link-collapse collapsed" data-toggle="collapse" href="#collapseThemas" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fal fa-book"></i>
                        <span class="nav-link-text">Thema's</span>
                    </a>
                    @Html.Action("_ThemaDropDown")
                </li>
                <!-- -->
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profiel">
                        <a class="nav-link" href="@Url.Action("Index", "Manage")">
                            <i class="fa fa-fw fal fa-user"></i>
                            <span class="nav-link-text">Profiel Instellingen</span>
                        </a>
                    </li>

                }
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Deelplatformen">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">
                            <i class="fa fa-fw fal fa-home"></i>
                            <span class="nav-link-text">Deelplatformen</span>
                        </a>
                </li>

            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Deelplatform</a>
                </li>
                <li class="breadcrumb-item active">@ViewBag.Naam</li>
            </ol>
            @Html.Action("_ItemPartial", new { grafiekType = 1, index = 0, labels = ViewBag.LabelsBar1, data = ViewBag.DataBar1, page = "index" })
            @Html.Action("_ItemPartial", new { grafiekType = 0, index = 1, labels = ViewBag.LabelsLijn1, data = ViewBag.DataLijn1, page = "index" })
            @Html.Action("_ItemPartial", new { grafiekType = 0, index = 2, labels = ViewBag.LabelsLijn2, data = ViewBag.DataLijn2, page = "index" })
            @Html.Action("_ItemPartial", new { grafiekType = 0, index = 3, labels = ViewBag.LabelsLijn3, data = ViewBag.DataLijn3, page = "index" })
            @Html.Action("_ItemPartial", new { grafiekType = 2, index = 4, labels = ViewBag.LabelsTaart1, data = ViewBag.DataTaart1, page = "index" })
            @Html.Action("_ItemPartial", new { grafiekType = 2, index = 5, labels = ViewBag.LabelsTaart2, data = ViewBag.DataTaart2, page = "index" })
            @Html.Action("_ItemPartial", new { grafiekType = 2, index = 6, labels = ViewBag.LabelsTaart3, data = ViewBag.DataTaart3, page = "index" })
        </div>
    </div>
</body>
