@model DAL.EF.ApplicationUser

@{
    ViewBag.Title = "DetailsAdmin";
}

<style>

    .witteRuimte {
        border-radius: 5px;
        padding: 2rem;
        border: .5rem;
        border-color: darkgray;
        background-color: white;
    }
</style>



<div class="container">
    <div class="card">
        <div class="card-header">Details van een admin</div>
        <div class="card-body bg-dark">
            <div class="witteRuimte form-group">
                @Html.ActionLink("Back to List", "LijstAdmins")
            </div>
            <div class="witteRuimte form-group">
                <h4>Admin</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmailConfirmed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PasswordHash)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PasswordHash)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.SecurityStamp)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SecurityStamp)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TwoFactorEnabled)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LockoutEndDateUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LockoutEnabled)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AccessFailedCount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AccessFailedCount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>


                @Html.ActionLink("Edit", "EditAdmin", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>